<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/demo.css">
    <link rel="stylesheet" href="styles/pluginName.css">

  </head>
  <body>
    <div class="container">
      <div id="pluginPlayground" class="examples">

        <div id="addressDetectionWidget" class="addressDetectionWidget"></div>

      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="scripts/pluginName.js"></script>

  </body>
</html>
